.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #334155;
  list-style: none;
  padding-left: 30px;
  border-top: 0px;
}

.text {
  color: #1e293b;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-right: 70px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 20px;
}
