.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

.balance {
  background-color: #ecfccb;
  border: solid 1px #84cc16;
}

.income {
  background-color: #cffafe;
  border: solid 1px #06b6d4;
}

.expenses {
  background-color: #ede9fe;
  border: solid 1px #7c3aed;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.text {
  color: #334155;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

.rupees {
  color: #334155;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-top: 0px;
}
